$scale-animation: scale-animation 1s linear infinite;

@keyframes scale-animation{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}